.banner {
    position: relative;
    padding-top: 40vh;
    height: 100vh;
    @extend %bc-img;
}
.banner-content {
    padding-left: 50%;
}
.banner-title {
    margin-bottom: 35px;
    color: $white;
    font-size: 80px;
    line-height: 90px;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-color-span {
    color: $blaze-orange;
}
.banner-btn {
    margin-left: 2px;
    font-family: $font2;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 17px 30px 16px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid $blaze-orange;
    transition: 0.3s;
    &:hover {
        background-color: $blaze-orange;
        transition: 0.3s;
    }
}

@include breakpoint(tablet) {
    .banner {
        padding-top: 35vh;
    }
    .banner-content {
        padding-left: 0;
        max-width: 720px;
        margin: 0 auto;
    }
    .banner-title {
        margin-bottom: 35px;
        font-size: 71px;
        line-height: 81px;
    }
}

@include breakpoint(phone) {
    .banner {
        padding-top: 30vh;
    }
    .banner-content {
        padding-left: 0;
        max-width: 540px;
        margin: 0 auto;
    }
    .banner-title {
        margin-bottom: 35px;
        font-size: 67px;
        line-height: 80px;
    }
}