.training-plan {
    padding: 75px 0;
}
.training-plan-title {
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 35px;
    font-weight: 600;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -15px;
        transform: translateX(-50%);
        background-color: $blaze-orange;
        height: 2px;
        width: 45px;
    }
}
.training-cards {
    padding-top: 35px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 0;
}
.training-item-wrap {
    padding: 20px 35px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.training-item {
    padding: 33px 0;
    overflow: hidden;
    //padding: 40px 30px 52px;
    transform: skewY(-4deg);
    min-height: 500px;
    text-align: center;
    border: 1px solid $tundora;
}
.training-item-title {
    transform: skewY(4deg);
    padding-bottom: 15px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 600;
    color: $white;
}
.training-item-price {
    margin-bottom: 7px;
    transform: skewY(4deg);
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    color: $blaze-orange;
}
.training-plan-lenght {
    display: inline-block;
    transform: skewY(4deg);
    color: $silver;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.training-list {
    transform: skewY(4deg);
    margin: 36px 0;
}
.training-list-item {
    color: $silver;
    display: block;
    margin: 10px 0;
    font-size: 14px;
    line-height: 32px;
}
.training-btn {
    width: 80%;
    margin: 0 auto;
    padding: 14px 30px 13px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transform: skewY(4deg);
    color: $white;
    background-color: $tundora;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
        background-color: $blaze-orange;
        transition: 0.3s;
    }
}

@include breakpoint(phone) {
    .training-item-wrap {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        display: block;
        width: 100%;
    }
}