$font: 'Oswald';
$font2: 'Mulish';

$white: #FFFFFF;
$black: #000000;
$blaze-orange: #F36100;
$silver: #C4C4C4;
$silver-chalise: #A9A9A9;
$tundora: #464646;
$cod-gray: #111111;

$bc1: #0A0A0A;
$bc2: #151515;